/*---- plan de salle ----*/
.btn-plan-container {
    display:flex;
    font-size:10px;
    justify-content: space-between;
}

.btn-plan-commande {
    position: absolute;
    display: flex;
    top: 0.5rem;
    flex-direction: column;
    right: 0.5rem;
    z-index: 1;
  }
  .btn-plan-commande div{
    background-color: #1d1d1de0 !important;
    color: #f1f1f1 !important;
    cursor: pointer;
    border-radius: 0.4rem;
    margin: 0.5rem;
    transition : all 0.5s;
  }
  .btn-plan-commande div:hover{
    background-color:#1d1d1dc9 !important;
  }

#IMG_PLANSALLE {
    position:absolute;
    left : 0;
}

div[data-name="PLAN-SALLE"] {
  border:none;
  background-color: #D0E0D0 !important;
  position:relative;
  overflow: hidden;

}

div.event {
 height:200px;
 background-color:#D0FFD0 !important;
font-size:10px;
overflow: scroll;
color:#006000;
display:none;
}

/*---- plan de salle ----*/